<section class="contact" id="contactanos">
    <div class="heading">
        <h2>Contáctanos</h2>
        <div></div>
    </div>
    <div class="box">
        <div class="content">
            <i class="fa-solid fa-mobile-screen"></i>
            <div>+52 322 170 6603</div>
            <div>Lunes - Viernes  </div>
        </div>
        <div class="content">
            <i class="fa-solid fa-envelope"></i>
            <div>melisazeledon@companyut.com</div>
            <div>www.companyut.com</div>
        </div>
        <div class="content">
            <i class="fa-solid fa-location-dot"></i>
            <div>Nvo. Vallarta, Nayarit</div>
            <div>México</div>
        </div>
    </div>
</section>