<div class="heading" id="preguntas_frecuentes">
    <h2>Preguntas Frecuentes</h2>
    </div>
    <button class="accordion"><h2>Tu cuenta</h2></button>
    <div class="panel">    
          <h2>¿Por qué no puedo iniciar sesión?</h2>
          <p>Si a la hora de iniciar sesión se encuentra con un error o por alguna razón no puede recordar su contraseña o su cuenta se le recomienda tratar con uno de los siguientes métodos dependiendo su necesidad.</p>
          <ul>
            <li>Recuperar su contraseña por medio de nuestro método de recuperación.</li>
            <li>En caso de no tener el correo electrónico entonces mandar mensaje a uno de nuestros contactos de servicio al cliente proporcionándoles el problema.</li>
          </ul><br>
        
          <h2>¿Cómo puedo borrar mi cuenta?</h2>
          <p>Para borrar su cuenta es necesario entrar a configuraciones &gt; cuenta &gt; eliminar cuenta, una vez hecho esto su cuenta debe de haberse eliminado correctamente.</p>
        
          <h2>¿Cómo puedo saber que un producto se encuentra en stock?</h2>
          <p>Los productos mostrados son aquellos que están disponibles por el momento.</p><br>
        
          <h2>¿Cómo puedo ponerme en contacto?</h2>
          <p>Tenemos a la mano varios métodos de contacto para responder cualquier duda que no haya sido respondida, puede enviar mensaje por medio de nuestro correo electrónico: <a href="mailto:unCorreoelectronico@gmail.com">melisazeledon@companyut.com</a>o nuestro número telefónico: 322-170-6603.</p><br>
        
          <h2>En caso de que un producto se agote, ¿este volverá a estar disponible?</h2>
          <p>Si un artículo se agota no tenemos mucha seguridad de que este se vuelva estar disponible en nuestra tienda en línea en un futuro.</p>
          <p>Si el producto sigue agotado después de dos semanas es muy probable que ya no se vuelva a reponer el stock y será removido de nuestra tienda en línea.</p><br>
        
          <h2>¿Por qué debo proporcionar información relevante para verificar mi producto?</h2>
          <p>Esta información es importante por razones de seguridad ya que necesitamos proporcionar esta información para la verificación de su producto. Su privacidad y seguridad siempre será importante para nosotros.</p><br>
        
          <h2>¿Cómo puedo cambiar los datos de mi cuenta?</h2>
          <p>Para cambiar su información de usuario deberá de ingresar a ajustes, usuario, desde de ese punto puede cambiar todos los datos de su cuenta que sean necesarios. (<a href="#">Enlace para cambiar datos de cuenta</a>)</p><br>
    </div>
    
    <button class="accordion"><h2>Envío</h2></button>
    <div class="panel">
      <p>
        <h2>¿Cuáles son las opciones de envío disponibles?</h2>
        <p>Son dos opciones de envío: el estándar y el envío acelerado. Únicamente el envío acelerado tiene un costo extra en la compra de cualquier producto.</p><br>
      
        <h2>¿Cuánto tiempo tarda en llegar mi pedido?</h2>
        <p>El tiempo de entrega estimado para el envío gratuito es de 3 a 5 días hábiles mientras que el tiempo de entrega estimado del envío acelerado es de 24 horas.</p><br>
      
        <h2>¿Cómo puedo rastrear mi pedido?</h2>
        <p>Ingresa en la página de la paquetería y en el apartado de rastreo colocas el número de seguimiento que se le proporciona en la compra de su producto.</p><br>
       
        <h2>¿Cuáles son los costos de envío?</h2>
        <p>Dependiendo de la cantidad de productos y la paqueteria que eliga se calcula el costo..</p><br>
    
        <h2>¿Puedo cambiar la dirección de envío después de realizar el pedido?</h2>
        <p>No se puede hacer cambio de domicilio, para hacer esto tendrías que cancelar el pedido y volver a realizar la compra.</p><br>
        
        <h2>¿Qué sucede si no estoy en casa cuando llega el paquete?</h2>
        <p>En caso de no poder recibir el paquete, con su número de envío puede ponerse en contacto con la paquetería correspondiente que esté llevando su paquete para que así le puedan sugerir qué hacer en estos casos.</p><br>
    
        <h2>¿Qué debo hacer si mi paquete se pierde o está dañado?</h2>
        <p>En caso de que el producto llegue dañado, debe tomar fotografías de prueba para luego comunicarse con nosotros y así iniciar el proceso de devolución. En caso de que el producto se pierda contactarse con la paquetería.</p><br>
        
        <h2>¿Realizan envíos internacionales?</h2>
        <p>Por el momento no realizamos envíos internacionales.</p><br>
        
        <h2>¿Se pueden realizar devoluciones?</h2>
        <p>Únicamente se hacen devoluciones en caso de que el producto esté dañado, si este mismo llega con algún defecto de fábrica o también en caso de que haya existido alguna equivocación de nuestra parte.</p><br>
        
        <h2>¿Hay opciones de envoltura de regalo y mensajes personalizados?</h2>
        <p>En caso de necesitar una envoltura especial para el producto, puede contactarnos antes de realizar la compra para confirmar lo necesario para satisfacer su envío.</p>
      
        <h2>¿Qué hacer en caso que mi pedido no haya llegado?</h2>
        <p>Si su pedido no ha llegado en el tiempo estimado le recomendamos darle un par de días más, si después de dos días más el paquete aun no llega entonces póngase en contacto por medio de correo electrónico para darle las instrucciones a seguir.</p><br>
          
        <h2>¿Puedo agregar o cambiar los productos una vez hecho el pedido?</h2>
        <p>Le recomendamos que en caso de querer hacer modificaciones a su pedido primero cancele el pedido ya hecho lo más pronto posible, luego agregue los nuevos productos y vuelva a ordenar, si la cancelación fue hecha en su debido tiempo entonces se le dará un reembolso dentro de los primeros x días luego de la cancelación.</p><br>
      
        <h2>¿Hay envíos en mi zona?</h2>
        <p>Contamos con envíos solo en la república mexicana.</p><br>
        
        <h2> ¿Qué puedo hacer si mi envío me marca como entregado, pero no ha llegado a mi domicilio? </h2>
        <p>Si en caso de que suceda algo así le recomendamos contactar al servicio al cliente y solicitar la ubicación del pedido, estos pedidos pueden ser guardados por un determinado tiempo si es que no está el emisor para tomar el pedido, en caso de que el pedido haya llegado a otra persona entonces igualmente puede marcar a los servicios de paquetería para rastrear la ubicación de entrega.</p><br>
    
    </div>
    
    <button class="accordion"><h2>Productos</h2></button>
    <div class="panel">
      <h2>¿Cuánto tiempo tengo para devolver un producto?</h2>
      <p>El plazo para realizar una devolución es de 1-7 días (Dependiendo de el banco) a partir de la fecha de recepción del producto siempre y cuando cumpla con las políticas de devolución (colocar el link de las políticas de devolución).</p><br>
     
      <h2>¿El envío de devolución cuenta con algún precio?</h2>
      <p>El envío de la devolución podrá contar con una tarifa si el motivo de la devolución no es por motivos de defectos de fábrica, más información en nuestras políticas de devolución. (colocar el link de las políticas de devolución). </p><br>
      
       <h2>¿En cuánto tiempo te regresan el dinero?</h2>
      <p>El proceso de reembolso se realiza en 1-7 días una vez que la devolución ha sido recibida y procesada.</p><br>
      
      <h2>¿Qué información de seguimiento se proporciona a los clientes durante el proceso de devolución?</h2>
      <p>Se proporcionará la información mediante correo electrónico, recibiendo información de cuando llegue el paquete y la confirmación de cuándo se ha completado el proceso de devolución y el dinero ha sido devuelto.</p>
     
      <h2>¿Cómo debo empacar un producto para una devolución?</h2>
      <p>Para una devolución segura, embalar el producto de manera adecuada, preferiblemente en su embalaje original.</p><br>
      
      <h2>¿Se aceptan devoluciones de productos abiertos o usados?</h2>
      <p>Si, se aceptarán devoluciones de artículos abiertos usados, aunque dependerá del estado en el que se encuentre el artículo.</p><br>
      
      <h2>¿Ofrecen la opción de cambio por un artículo diferente en lugar de un reembolso?</h2>
      <p>Se ofrecerá un artículo de el mismo rango de precio o si el que desea es de un mayor precio se necesitará un pago con la diferencia del precio.</p><br>
       
      <h2>¿Cuál es el proceso si el producto que recibí no coincide con la descripción en línea?</h2>
      <p>Si el producto no coincide con la descripción en línea, puedes solicitar el reembolso estándar y así recuperar tu dinero o recibir otro producto con el mismo rango de precio. </p><br>
      <h2>¿Qué sucede si el producto experimenta un defecto después del período de devolución establecido?</h2>
      <p>Si un producto presenta defectos después del período de devolución, ya no se hará válido el proceso de devolución (colocar el link de las políticas de devolución).</p>
      <h2>¿Hay restricciones geográficas para devoluciones?</h2>
      <p>No existen restricciones geográficas para las devoluciones. Nuestro proceso de devolución está diseñado para ser accesible desde cualquier ubicación en la republica mexicana brindando a nuestros clientes la flexibilidad de devolver productos sin importar su lugar de residencia.</p><br>
      
      <h2>¿Cómo puedo cancelar mis pedidos?</h2>
      <p>Para cancelar su pedido deberá de buscar en mis pedidos > detalles de compra > cancelar mi pedido. Solo se pueden cancelar los productos que estén en proceso y no en estado de envío. Una vez cancelado el producto se le dará una devolución dentro de las 24 horas estimadas.</p><br>
      
      <h2>¿Es posible rastrear mi devolución?</h2>
      <p>Si, es posible hacer un rastreo a la devolución del producto puede ir a mis pedidos > estado de devolución o reembolso.</p><br>
      
    </div>
    
    <button class="accordion"><h2>Pagos</h2></button>
    <div class="panel">
        <h2>¿Se aceptan pagos fuera de México?</h2>
        <p>Sí, puedes aceptar pagos de compradores fuera de México, pero ten en cuenta que pueden aplicarse restricciones regionales, y el envío se realizará solamente en la zona de México.</p><br>
        <h2>¿Este sitio admite pagos a través de plataformas de pago en línea?</h2>
        <p>Si, aceptamos pagos a través de Mercado Pago y PayPal. </p> <br>
        <h2>¿Cómo se manejan los pagos con tarjetas extranjeras, considerando posibles conversiones de moneda y tarifas asociadas? </h2>
        <p>Los pagos con tarjetas extranjeras se manejan automáticamente, considerando conversiones de moneda y tarifas asociadas. Verifica con tu entidad financiera por posibles cargos adicionales.</p><br>
        <h2>¿Hay un límite en el número de pagos que se pueden procesar por día o por mes?</h2>
        <p>No hay límites establecidos en el número de pagos que puedes procesar por día o por mes.</p><br>
        <h2>¿Qué tipos de tarjetas de crédito/débito se aceptan?</h2>
        <p>Aceptamos varios métodos de pago, incluyendo tarjetas de crédito y débito. Se admiten Visa, MasterCard y otras principales marcas.</p><br>
        <h2>¿Cómo funciona la facturación?</h2>
         <p>La facturación se realiza automáticamente según la información proporcionada durante la compra.</p><br>
        <h2>¿Cómo cambiar la tarjeta de crédito asociada con la facturación de la cuenta del usuario?</h2>
         <p>Para cambiar la tarjeta de crédito asociada, accede a la sección de configuración de tu cuenta y sigue las instrucciones para actualizar la información de pago. (colocar el link)-</p><br>
        <h2>¿Este sitio web es seguro?</h2>
         <p>Sí, nuestro sitio web utiliza medidas de seguridad avanzadas para proteger la información del usuario durante las transacciones.</p><br>
        <h2>¿Por qué tengo que introducir la información de mi tarjeta de crédito con cada pago?</h2>
        <p>La introducción de la información de la tarjeta en cada pago es para garantizar la seguridad y cumplir con estándares de protección.</p><br>
        <h2>¿Hay algún cargo o tarifa por usar tarjetas de crédito o débito?</h2>
        <p> No hay cargos adicionales por usar tarjetas de crédito o débito, pero verifica con tu banco por posibles tarifas.</p><br>
        <h2>¿Cómo se gestionan los problemas relacionados con pagos, <p>como cargos duplicados o errores en la transacción?</h2>
        Problemas de pago, como cargos duplicados, se gestionan a través de nuestro servicio de atención al cliente. Ponte en contacto para resolver cualquier inconveniente.</p><br>
        <h2>¿Se proporciona algún recibo o confirmación de compra después de realizar un pago?</h2>
         <p>Sí, recibirás un recibo o confirmación de compra automáticamente después de realizar un pago.</p><br>
        <h2>¿Cuál es el proceso en caso de que un pago sea rechazado o no se complete correctamente?</h2>
        <p>En caso de un pago rechazado o no completado, le recomendamos revisar los siguientes aspectos: información de la tarjeta, que su tarjeta tenga los fondos necesarios y que esté en vigencia luego de eso vuelve a intentar. Si persisten los problemas, contacta a nuestro soporte.</p><br>
    </div>
    
    <button class="accordion"><h2>Promociones y descuentos</h2></button>
    <div class="panel">
            <h2>¿Existe algún programa de fidelidad o beneficios para clientes frecuentes?</h2>
            <p>Ofrecemos programas de fidelidad y beneficios para clientes frecuentes. Consulta nuestras promociones y programas en nuestra sección de ofertas, lo mantendremos innovado con nuestras más nuevas ofertas. (colocar el link).</p><br>
             
            <h2>¿Hay descuentos o promociones especiales disponibles al realizar pagos con ciertos métodos?</h2>
            <p>Sí, ocasionalmente ofrecemos descuentos o promociones especiales al realizar pagos con ciertos métodos. Mantente atento a nuestras ofertas.</p><br>
            
            <h2> ¿Los productos cuentan con una garantía?</h2>
            <p>Los productos en cuestión tienen una garantía de devolución, en caso de que el producto llegue dañado o el paquete llegue vacío puede enviar mensaje al servicio al cliente o revisar nuestros contactos para saber cómo hacer la devolución del producto.</p><br>
            <h2> ¿Cómo puedo asegurarme que la compra se hizo correctamente?</h2>
            <p>En caso de que quiera saber sobre su compra entonces puede revisar en su correo electrónico un mensaje con toda la información de su compra, desde los costos de producto y envió como también la información del tiempo de llegada y ubicación destinada.</p><br>
            <h2> No he recibido mi correo de confirmación de compra</h2>
            <p>En caso de no haber recibido nada entonces le recomendamos seguir las siguientes indicaciones.</p>
            <ul>
            <li>Comprobar el estado del pedido ya que este podría estar aún en proceso.</li>
            <li>Revisar que esté en la cuenta usada para la compra del producto.</li>
            <li>Comprobar en los correos no deseado.</li>
            </ul>
            En caso de no recibir información sobre su compra le recomendamos enviar un correo a la dirección de nuestro servicio al cliente, en el correo deberá de especificar a detalle el producto, fecha de compra y el nombre de usuario, se le avisará de cualquier cosa en los próximos 7 días.</p>
    </div>
    
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {

          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script>