<footer class="footer">
    <div class="content">
        <h3>CompanyUT</h3>
        <p>©CompanyUT - All rights belong to the owner</p>

    </div>

    <div class="link">
        <h3>Nuestra empresa</h3>
        <a href="#home">Inicio</a>
        <a href="#about">Sobre Nosotros</a>
        <a href="#preguntas_frecuentes">Preguntas Frecuentes</a>
        <a href="https://www.companyut.com/tienda/es/contactenos">Contactanos</a>
    </div>

    <div class="our-servis">
        <h3>Mas información</h3>
        <a href="http://www.utbb.edu.mx/">Universidad</a>
        <a href="companyut.com">Tienda</a>
        <a href="https://www.companyut.com/tienda/es/">Realidad Virtual</a>
    </div>

</footer>
<!-- /footer  -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
