<header class="fixed flex items-center justify-between p-4 text-white ">
	<a href="#home" class="text-5xl p-2">CompanyUT</a>

	<nav class="mx-0 my-3 p-2 text-3xl space-x-8">
		<a href="#home" class="hover:text-green-800">Inicio</a>
	   <!-- <a href="#about">bout</a> -->
		<a href="#services" class="hover:text-green-800">Sobre Nosotros</a>
		<a href="#preguntas_frecuentes" class="hover:text-green-600">Preguntas Frecuentes</a>
		<a href="#contactanos" class="hover:text-green-800">Contactanos</a>
	</nav>
	<i class="fa-solid fa-bars"></i>
</header>