<section class="services" id="services"><!-- Nuestra Empresa  -->
    <div class="heading">
        <h2>Nuestra Empresa </h2>
        <p style="text-align: justify;">Somos una empresa académica sin fines de lucro cuyo objetivo principal es la venta de accesorios representativos de la Universidad Tecnológica de Bahía de Banderas al mismo tiempo brindar a nuestros clientes un acercamiento a la institución, sus instalaciones y su historia para impulsar el conocimiento sobre esta y lo que la componen dando así una experiencia completa sobre sus interiores apoyando a los usuarios que no tengan la oportunidad de presenciarla físicamente.</p>

    </div>

    <div class="row">
        <div class="box">
            <i class="fa-solid fa-briefcase"></i>
            <h3>
               Misión
            </h3>
            <p>Ofrecer experiencias de realidad virtual que ayudan a los usuarios a elegir su futura institución educativa y carrera. Además, nuestra tienda en línea apoya el desarrollo de la universidad.</p>
        </div>

        <div class="box">
            <i class="fa-solid fa-clipboard-check"></i>
            <h3>
               Visión 
            </h3>
            <p>Mostrar al mundo el potencial de la Universidad de Bahía de Banderas, proporcionando información completa y transparente a todas las personas interesadas.</p>
        </div>

        <div class="box">
            <i class="fa-solid fa-chart-column"></i>
            <h3>
                Objetivo
            </h3>
            <p>Promover la Universidad de Bahía de Banderas a través de experiencias virtuales, permitiendo a las personas explorar nuestros campus desde cualquier lugar. </p>
        </div>


</section>