<div class="portfolio" id="portfolio">
    <div class="heading">
        <h2>Mas información</h2>
        <div></div>
    </div>
    <div class="row">

        <div class="box">
            <img src="oculus.jpeg" alt="image">
            <div class="content">
                <h3>
                        Tienda UTBB
                </h3>
                <p>Explora los productos mas destacados de <br>nuestra tienda UTBB.<br>¡No te lo pierdas! </p>
                <a href="https://www.companyut.com/tienda/es/" class="btn">Mas información</a>
            </div>
        </div>

        <div class="box">
            <img src="oculus.jpeg" alt="image">
            <div class="content">
                <h3>
                    Nuestra Universidad
                </h3>
                <p>Explora más acerca de nuestra oferta academica <br> en la Universidad Tecnológica de Bahía de Banderas</p>
                <a href="http://www.utbb.edu.mx/" class="btn">Mas información</a>
            </div>
        </div>

        <div class="box">
            <img src="oculus.jpeg" alt="image">
            <div class="content">
                <h3>
                    Tour Virtual UTBB
                </h3>
                <p>Explora la Universidad Tecnológica de Bahia de Banderas <br> desde la comodidad de tu casa.</p>
                <a href="#" class="btn">Mas información</a><!--Agregar link APK-->
            </div>
        </div>